# Django Settings
SECRET_KEY='django-insecure-replace-this-with-a-real-one'
DEBUG=True

# Database Configuration (Docker)
DB_NAME=jotanunesdb
DB_USER=jotanunes_user
DB_PASSWORD=Jotanunes@
DB_ROOT_PASSWORD=Jotanunes@
DB_HOST=db_mysql
DB_PORT=3306

# Redis Configuration (Docker)
REDIS_HOST=redis
REDIS_PORT=6379

# Frontend Configuration
VITE_API_BASE_URL=/api
