/* Fundo geral vermelho igual da imagem da esquerda */
.perfil-bg {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #BC1F1B, #3d0706);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-lateral {
  width: 30%;
  background: linear-gradient(#BC1F1B, rgb(54, 9, 7));
}

.perfil-centro {
  padding-top: 150px;
  margin-left: 380px;
  width: 80%;
}

.perfil-card {
  padding: 32px;
}

.perfil-campo {
  margin-bottom: 26px;
  margin-top: -10px;
}

.perfil-campo span {
  font-weight: 600;
  color: #131212;
  display: block;
  margin-bottom: 4px;
}

.perfil-campo p {
  font-size: 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid #645f5f;
}


.card-header {
  background-color: #fff !important;
  color: #000 !important;
  text-align: center;
  border-bottom: none !important;
  margin-top: 10px;
}

.logo-card {
  min-height: 110px;
  margin-left: -5px;
}